.whiteTile{
    background-color: blanchedalmond;
}

.blackTile{
    background-color: seagreen;
}

.tile{
    margin: 0;
    padding: 3.7rem;
    user-select: none;
    -moz-user-select: none;
}

.tile:hover{
    background-color: aqua;
}

.main-menu-button{
    margin: 1rem;
}

.tileRow{
    flex-wrap: nowrap;
}

.chessPiece{
    transform: scale(3);
    pointer-events: none;
}