body{
    background-color: gray;
}

.whiteTile{
    background-color: blanchedalmond;
}

.blackTile{
    background-color: seagreen;
}

.tile{
    margin: 0;
    padding: 3.5rem;
    user-select: none;
    -moz-user-select: none;
    width: 10rem;
    height: 10rem;
    
}

.tile:hover{
    background-color: aqua;
}

.main-menu-button{
    margin: 1rem;
}

.tileRow{
    flex-wrap: nowrap;
}

.chessPiece{
    transform: scale(3);
    pointer-events: none;
}

.turn-text{
    color: white;
    width: 19rem;
}

.chess-board{
}

.main{
}